@import url('main.css');

.main-nav{ 
    position: fixed;
    display: flex;
    align-items: center;
    width: 100%;
    top: 0;
    background-color: var(--color-bg);
    transition: top 0.5s;
}
nav ul{
    width: 100%;
    list-style: none;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

nav li{
    height: 50px;
}

nav a{
    height: 100%;
    padding: 0 30px;
    text-decoration: none;
    display: flex;
    align-items: center;
}

nav li:hover{
    color: var(--color-accent);
    cursor: pointer;
}

nav li:not(:first-child):hover {
    background-color: #334764;
}

nav li:first-child{
    margin-right: auto;
}

.menu-btn{
    width: 5%;
    height: 20px;
    margin: 0px 30px;
    position: relative;
    display: none;
    flex-direction: column;
}

.menu-btn span, .menu-sidebar span{
    background-color: var(--color-text);
    border-radius: 25px;
    position: absolute;
    cursor: pointer;
}
.menu-btn span{
    height: 3px;
    width: 20px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: .3s ease;
}

.menu-btn span:nth-child(1){
    top: 25%;
}

.menu-btn span:nth-child(3){
    top: 75%;
}

.menu-sidebar {
    margin-left: auto;
    margin-top: 7px;
    align-self: flex-end;
    width: 27px;
}
.menu-sidebar span{
    height: 3px;
    width: 25px;
}
.menu-sidebar span:nth-child(1) {
    top: 3%;
    right: 7%;
    transform: translate(-50%, -50%) rotate(45deg);
}

.menu-sidebar span:nth-child(2) {
    opacity: 0;
}

.menu-sidebar span:nth-child(3) {
    top: 3%;
    right: 7%;
    transform: translate(-50%, -50%) rotate(-45deg);
}

.sidebar{
    padding-top: 5%;
    position: fixed;
    top: 0;
    right: 0;
    height: 100vh;
    width: 250px;
    z-index: 999;
    background-color: #27374d00;
    backdrop-filter: blur(7px);
    box-shadow: -1px 0px 10px #26FFD4;
    display: none;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}

.sidebar li{
    width: 100%;
}

.sidebar a{
    width: 100%;
}

/* Sub-nav */
main{
    width: 70%;
    margin: 0 auto;
}

.sub-nav-container{
    width: 70%;
    margin: 20% auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

#intro-container{
    width: 40%;
    display: flex;
    flex-direction: column;
    align-items: left;
    text-align: left;
    font-size: 1.5rem;
}

#intro-container .text-big{
    font-size: 1.5em;
    font-family: var(--heading-font);
    font-weight: 600;
    margin-bottom: 5px;
}

#sub-nav-primary{
    justify-self: end;
    align-self: flex-end;
}

#sub-nav-primary p{
    font-family: var(--heading-font);
    font-size: 4rem;
    font-weight: 600;
}

#email-btn {
    border: 0.5px solid var(--color-accent);
    width: 40%;
    align-self: flex-start;
    margin-top: 15px;
    border-radius: 5px;
    padding: 2px;
    overflow: hidden;
    position: relative; 
    cursor: pointer;
}

#email-btn a {
    display: block; 
    position: relative; 
    color: var(--color-text-light);
    font-family: var(--heading-font);
    padding: 3px;
}

#email-btn::before {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 0;
    background-color: var(--color-accent);
    transition: height 0.4s ease;
}

#email-btn:hover::before {
    height: 100%;
}

#email-btn a p:hover {
    color: #394d6c;
}

#email-btn a p {
    text-align: center;
}

.mail-icon{
    display: none;
}